{% extends 'base.html' %}


{% block content %}

<h2>Список пользователей:</h2>
{% for i in per %}
<ul>
    <li>
        <a href="{% url 'list_books' pk=i.pk %}?books_by_persons={{ i.pk }} "> {{ i.name }} {{ i.last_name }} </a>
    </li>
</ul>
{% endfor %}
{% endblock %}


{% block form %}
    <div>
        <h2>Введите нового пользователя:</h2>
        <form method="POST" action="">{% csrf_token %}
            {{ form.as_p }}
        <input type="submit" name="Отправить">
        </form>
    </div>
{% endblock %}




